<div class="content">

	<section class="single-article rhythm">
		<div class="row">
			<%= partial "partials/_nav-breadcrumbs" %>

			<div class="large-4 columns">
				<%= partial "partials/_nav-side" %>
			</div>
			
			<div class="large-8 columns">
				<%= partial "partials/_page" %>
			</div>
		</div>
	</section>

</div>