<div class="content">

	<section class="single-article rhythm">
		<div class="row">			
			<div class="large-14 large-centered columns">
				<%= partial "partials/_figure" %>
				<%= partial "partials/_page" %>
			</div>
		</div>
	</section>

</div>