<div class="content">
	<div class="row">
		<div class="large-9 columns right">
			<article class="article post">
				<%= partial "partials/_header-blog" %>
				<%= partial "partials/_entry-blog" %>
			</article>
		</div>
	</div>
</div>