<article class="article full">	
	<header class="full">
		<div class="row">
			<div class="relative">
				
				<div class="hgroup large-9 large-centered columns">
					<div class="meta">
						<span class="type">Book IX</span><span><a href="#">Proposition</a></span>
					</div>
					<h2>Multiply A by itself to make D. Then D is square. </h2>
					<p class="byline">by Euclid <time>on June 2nd, 2014</time></p>
				</div>
					
				<figure class="hero">
					<img src="http://placehold.it/1200x960">
				</figure>
			</div>
		</div>
	</header>
	
	<div class="row">
		<div class="large-9 large-centered columns">
				<p>If as many numbers as we please beginning from a unit are in continued proportion, then the third from the unit is square as are also those which successively leave out one, the fourth is cubic as are also all those which leave out two, and the seventh is at once cubic and square are also those which leave out five. </p>
				
				<div class="clearfix"></div>
				
				<blockquote>
					<p>Therefore, if as many numbers as we please beginning from a unit are in continued proportion, then the third from the unit is square as are also those which successively leave out one, the fourth is cubic as are also all those which leave out two, and the seventh is at once cubic and square are also those which leave out five.</p>
				</blockquote>
		</div>
	</div>
</article>
