<h3 class="epsilon">Design Offering</h3>

<div class="two-column lined-list">

	<dl>
		<dt><h4 class="base">Digital Strategy</h4></dt>
		<dd>Brand insights</dd>
		<dd>Consumer behaviors</dd>
		<dd>Digital trends</dd>
		<dd>Concept development</dd>
		<dd>Content strategy</dd>
	</dl>

	
	<dl>
		<dt><h4 class="base">Interaction Design</h4></dt>
		<dd>User experience</dd>
		<dd>Information architecture</dd>
		<dd>Interface design</dd>
		<dd>Product design</dd>
		<dd>Desktop, mobile, physical</dd>
	</dl>


	
	<dl>
		<dt><h4 class="base">Brand</h4></dt>
		<dd>Brand identity</dd>
		<dd>Art direction</dd>
		<dd>Visual language</dd>
		<dd>Brand voice</dd>
		<dd>Photo direction</dd>
	</dl>
</div>