<article class="article aside clearfix">
	<figure class="thumb">
		<a href="" class=""><img src="http://placehold.it/120x120"></a>
	</figure>
	
	<div class="inner">
		<h6><a href="http://foundation.zurb.com/docs">The edges of a surface are lines</a></h6>
		<p>Definition 6</p>
	</div>
</article>

<article class="article aside clearfix">
	<figure class="thumb">
		<a href="" class=""><img src="http://placehold.it/120x120"></a>
	</figure>
	
	<div class="inner">
		<h6><a href="http://foundation.zurb.com/docs">A plane angle is the inclination to one another of two lines in a plane which meet one another and do not lie in a straight line</a></h6>
		<p>Definition 8</p>
	</div>
</article>

<article class="article aside clearfix">
	<figure class="thumb">
		<a href="" class=""><img src="http://placehold.it/120x120"></a>
	</figure>	
	
	<div class="inner">
		<h6><a href="http://foundation.zurb.com/docs">When a straight line standing on a straight line makes the adjacent angles equal to one another, each of the equal angles is right</a></h6>
		<p>Definition 10</p>
	</div>
</article>
