<aside class="panel">
	<h5 class="caps"><a href="http://foundation.zurb.com/docs">ESD Event Calendar</a></h5>
	<p><em>Monday, February 28</em><br />
	Hazardous Waste Pickup</p>
	<p><em>Wednesday, February 29</em><br />
	Modeling Forum: Azadeh Riahi</p>
	<p><em>Thursday, March 12, 6:00pm</em><br />
	ESD Climate Seminar</p>
	<ul class="inline-list">
		<li><a href="#">Full</a></li>
		<li><a href="#">Seminars</a></li>
		<li><a href="#">Subscribe</a></li>
	</ul>
</aside>