<div class="two-column underlined">
	<h4>Digital Strategy</h4>
	<ul>
		<li>Brand insights</li>
		<li>Consumer behaviors</li>
		<li>Digital trends</li>
		<li>Concept development</li>
		<li>Content strategy</li>
	</ul>

	<h4>Interaction Design</h4>
	<ul>
		<li>User experience</li>
		<li>Information architecture</li>
		<li>Interface design</li>
		<li>Product design</li>
		<li>Desktop, mobile, physical</li>
	</ul>


	<h4>Brand</h4>
	<ul>
		<li>Brand identity</li>
		<li>Art direction</li>
		<li>Visual language</li>
		<li>Brand voice</li>
		<li>Photo direction</li>
	</ul>
</div>