<div class="subscribe panel dark">
	<h5>Subscribe</h5>
	
	<p>Get policy updates in your inbox</p>
	<div class="row collapse">
  	<div class="small-10 columns">
   	 <input type="text" placeholder="Email Address">
		</div>
		<div class="small-2 columns">
    	<a href="#" class="button postfix">Go</a>
		</div>
	</div>
</div>