<h3 class="base">Clients</h3>
<ul class="client-list">
	<li>Restoration Hardware</li>
	<li>Mercedes-Benz</li>
	<li>Stussy</li>
	<li>Nike</li>
	<li>Google</li>
	<li>Microsoft</li>
	<li>Mayo Clinic</li>
	<li>Asana</li>
	<li>Heath Ceramics</li>
	<li>First Republic Bank</li>
	<li>Burton Snowboards</li>
	<li>Tracy Chapman</li>
	<li>Nixon</li>
	<li>iSearch Media</li>
	<li>Odopod</li>
	<li>Interbrand</li>
	<li>Sprint</li>
	<li>SFIFF</li>
	<li>Jeremy Fish</li>
	<li>DC</li>
	<li>Marc Fisher Footwear</li>
	<li>Artá Tequila</li>
	<li>Ordinary Kids</li>
	<li>Van Acker Construction</li>
	<li>Artists Public Domain</li>
	<li>The Lexicon of Sustainability</li>
	<li>Mas Perspective</li>
	<li>Public Media Company</li>
	<li>Revolution Golf</li>
	<li>Samovar</li>
</ul>