<h3 class="epsilon">Design Offering</h3>

<div class="two-column lined-list">

	<dl>
		<dt><h4 class="base">Digital Strategy</h4></dt>
		<dd>Brand insights</dd>
		<dd>Consumer behaviors</dd>
		<dd>Digital trends</dd>
		<dd>Concept development</dd>
		<dd>Content strategy</dd>
	</dl>

	
	<ul>
		<li><h4 class="base">Interaction Design</h4></li>
		<li>User experience</li>
		<li>Information architecture</li>
		<li>Interface design</li>
		<li>Product design</li>
		<li>Desktop, mobile, physical</li>
	</ul>


	
	<ul>
		<li><h4 class="base">Brand</h4></li>
		<li>Brand identity</li>
		<li>Art direction</li>
		<li>Visual language</li>
		<li>Brand voice</li>
		<li>Photo direction</li>
	</ul>
</div>