<article class="article aside clearfix">
	<figure class="thumb">
		<a href="" class=""><img src="http://placehold.it/120x120"></a>
	</figure>
	
	<div class="inner">
		<div class="meta">
			<span class="type">Postulate</span>
			<span class="category"><a href="#">Definition</a></span>
		</div>
		<h6><a href="http://foundation.zurb.com/docs">The fundamentals of geometry: theories of triangles, parallels, and area.</a></h6>
		<p>by Euclid</p>
	</div>
</article>