<aside class="panel lined">
	<h5>Advisors & Members</h5>
	
	<article class="author aside clearfix">
		<figure class="avatar thumb">
			<a href="" class=""><img src="http://placehold.it/100x100"></a>
		</figure>
		
		<div class="inner">
			<h6><a href="http://foundation.zurb.com/docs">Euclid</a></h6>
			<p> Euclid of Alexandria</p>
		</div>
	</article>
	
	<article class="author aside clearfix">
		<figure class="avatar thumb">
			<a href="" class=""><img src="http://placehold.it/100x100"></a>
		</figure>
		
		<div class="inner">
			<h6><a href="http://foundation.zurb.com/docs">Euclid</a></h6>
			<p> Euclid of Alexandria</p>
		</div>
	</article>
	
	<article class="author aside clearfix">
		<figure class="avatar thumb">
			<a href="" class=""><img src="http://placehold.it/100x100"></a>
		</figure>	
		
		<div class="inner">
			<h6><a href="http://foundation.zurb.com/docs">Euclid</a></h6>
			<p> Euclid of Alexandria</p>
		</div>
	</article>
</aside>
