<article class="article archived">
	<div class="meta">
		<span class="category"><a href="#">Department</a></span>
	</div>
	<h2 class="gamma"><a href="http://foundation.zurb.com/docs">Ecology Department</a></h2>
	<p>by Some body</p>
	<p> This was a new department, and the personnel were originally scattered among the other ESD departments, though most were under the Center for Environmental Biotechnology.</p>

	<a href="#" class="more">Read More</a>
</article>