<article class="article excerpt">
	<div class="inner">
		<h5 class="caps"><a href="http://foundation.zurb.com/docs">Research Programs</a></h5>
		<p><em>ESD’s George Moridis was recently appointed by U.S. lorum ipsum dolor sit amet... </em></p>
		<p><a href="#" class="more">See All the News</a></p>
	</div>
</article>