<div class="large-4 medium-4 columns">
	<%= partial "partials/_excerpt" %>
</div>

<div class="large-4 medium-4 columns">
	<%= partial "partials/_excerpt" %>
</div>

<div class="large-4 medium-4 columns">
	<%= partial "partials/_excerpt" %>
</div>
