<article class="article excerpt project rhythm">
	<h4 class="epsilon normal">Predicting the Stability/Status and Mobility of Engineered Nanomaterials after Their Release into Soils and Groundwater see link above [also listed in Molecular Microbial Biology Research Area].</h4>

	<p>LBNL PI: Spycher w/Peyton (Montana State)</p>

</article>