<article class="article excerpt">
	<img src="http://placehold.it/420x170">
	<div class="inner">
		<div class="meta">
			<span class="type">Definitions</span>
			<span class="category"><a href="#">Circles</a></span>
		</div>
		<h5><a href="http://foundation.zurb.com/docs">A circle is a plane figure contained by one line</a></h5>
		<p>Book 1</p>
	</div>
</article>