<article class="article archived">
	<h2 class="gamma"><a href="http://foundation.zurb.com/docs">Van Acker Construction</a></h2>
	<p> Still in private testing, Channel X is an open marketplace for both SD and HD acquisition of broadcast quality video content on the web.</p>

	<a href="#" class="more">Read More</a>
</article>