<article class="article rhythm">
	<h4 class="epsilon">Atmospheric Systems Research Program</h4>

	<%= partial "partials/_profile-contact" %>

	<p>This program’s focus is to improve understanding of surface atmosphere exchanges of carbon, water, and energy, and their roles in ecosystem-climate interactions, as well as to quantify the convective transport of CO2, water, mass, and momentum through:</p>

	<ul>
		<li>Observing the direct radiative effect of CO2 on climate;</li>
		<li>Identifying the indirect effect due to carbon cycle constraints on surface water, carbon, and energy fluxes;</li>
		<li>Developing and improving methodology for observing and detecting these effects, and how they change over time.</li>
	</ul>

	<p>Success in the projects assessing the carbon components affecting the climate will lead to improved models for predicting ecosystem carbon fluxes, ecosystem-climate feedbacks, and radiative forcing of climate by greenhouse gases and aerosols. Key sponsors and resources for this program include DOE-BER Atmospheric System Research Program, the ARM Climate Research Facility, and databases at ARM, NOAA, AmeriFlux, and Fluxnet.</p>
</article>