<article class="article">
	<h2 class="alpha"><a href="http://foundation.zurb.com/docs" class="dim">Van Acker Construction</a></h2>
	<p> Still in private testing, Channel X is an open marketplace for both SD and HD acquisition of broadcast quality video content on the web. <a href="#" class="more">Read More <span class="icon-more"></span> </a></p>

	<p class="meta"> <a href="#">Design</a>, <a href="#">Photography</a>, <a href="#">Work</a>, <a href="#">Art Direction</a>, <a href="#">Fine Art</a>, <a href="#">Gardening</a>, <a href="#">Published Work</a> 
  <p><a href="#" class="share"> Share</a></p>
</article>
