<article class="article archived">
	<h2 class="gamma"><a href="http://foundation.zurb.com/docs">Ecology Department</a></h2>
	<p> This was a new department, and the personnel were originally scattered among the other ESD departments, though most were under the Center for Environmental Biotechnology.</p>

	<a href="#" class="more">Read More</a>
</article>