<section class="hero rhythm">
	<div class="cover" data-interchange="[images/hero-full.jpg, (default)],[images/hero-large.jpg, (large)],[images/hero-retina.jpg, (retina)] "></div>
</section>

<!--div class="cover" style="background-image:url('images/hero.jpg');"-->