<a class="figure-link">
  <figure class="caption-overlay">
  	<img src="http://placehold.it/2000x1125" class="">
  	<figcaption class="panel centered">
  		<p>View Project</p>
  	</figcaption>
  </figure>
</a>