<footer class="footer">
		<section class="row">
			<div class="large-12 column">
				<p class="gamma serif">If there are two straight lines, and one of them is cut into any number of segments whatever, then the rectangle contained by the two straight lines equals the sum of the rectangles contained by the uncut straight line and each of the segments.</p>
			</div>
		</section>
		
		<section class="row">
			<nav class="footer-menu">
				<ul>
					<li class="column"><a class="delta" href="#">Book 1</a>
						<ul>
							<li><a href="#">Definitions</a></li>
							<li><a href="#">Postulates</a></li>
							<li><a href="#">Common Notions</a></li>
							<li><a href="#">Propositions</a></li>
						</ul>
					</li>
					<li class="column"><a class="delta" href="#">Book 2</a>
						<ul>
							<li><a href="#">Definitions</a></li>
							<li><a href="#">Postulates</a></li>
							<li><a href="#">Common Notions</a></li>
							<li><a href="#">Propositions</a></li>
						</ul>
					</li>
					<li class="column"><a class="delta" href="#">Book 3</a>
						<ul>
							<li><a href="#">Definitions</a></li>
							<li><a href="#">Postulates</a></li>
							<li><a href="#">Common Notions</a></li>
							<li><a href="#">Propositions</a></li>
						</ul>
					</li>
					<li class="column end"><a class="delta" href="#">Book 4</a>
						<ul>
							<li><a href="#">Definitions</a></li>
							<li><a href="#">Postulates</a></li>
							<li><a href="#">Common Notions</a></li>
							<li><a href="#">Propositions</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</section>
		
		<section class="sock">
			<div class="row">
				<div class="large-10 columns">
					<p class="copy sans">Atom Man, Mister Machine</p>
				</div>
				
				<div class="large-2 columns">
					<%= partial "partials/_social-circle" %>
				</div>
			</div>
		</section>
	</footer>