<footer class="footer">		
	<section class="row">
		<nav class="footer-menu medium-14 medium-centered columns">
			<ul class="row">
				<li class="large-4 columns">
					<a href="https://goo.gl/maps/5VYyP" target="blank">
						<h3 class="epsilon underlined" href="#">Visit</h3>
						<ul class="footer-list">
							<li>428 Waller Street </li>
							<li>San Francisco, CA 94117</li>
							<li>USA</li>
						</ul>
					</a>
				</li>
				<li class="large-4 columns"><h3 class="epsilon underlined" href="#">Contact</h3>
					<ul class="footer-list">
						<li>+1 (415) 419-4867</li>
						<li><a href="#">info@thisislandscape.com</a></li>
					</ul>
				</li>
				<li class="large-4 columns end"><h3 class="epsilon underlined" href="#">Follow</h3>
					<ul class="footer-list">
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Instagram</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</section>
	
	<section class="sock">
		<div class="row">
			<div class="medium-14 medium-centered columns">
				<p class="copy dim small-only-text-center">All Images © Landscape Studio LLC 2014</p>
			</div>
		</div>
	</section>
</footer>