<footer class="footer">		
		<section class="row">
			<nav class="footer-menu medium-14 medium-centered columns">
				<ul>
					<li class="column"><a class="delta" href="#">Book 1</a>
						<ul>
							<li><a href="#">Definitions</a></li>
							<li><a href="#">Postulates</a></li>
							<li><a href="#">Common Notions</a></li>
							<li><a href="#">Propositions</a></li>
						</ul>
					</li>
					<li class="column"><a class="delta" href="#">Book 2</a>
						<ul>
							<li><a href="#">Definitions</a></li>
							<li><a href="#">Postulates</a></li>
							<li><a href="#">Common Notions</a></li>
							<li><a href="#">Propositions</a></li>
						</ul>
					</li>
					<li class="column end"><a class="delta" href="#">Book 4</a>
						<ul>
							<li><a href="#">Definitions</a></li>
							<li><a href="#">Postulates</a></li>
							<li><a href="#">Common Notions</a></li>
							<li><a href="#">Propositions</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</section>
		
		<section class="sock">
			<div class="row">
				<div class="medium-14 medium-centered columns">
					<p class="copy sans">Atom Man, Mister Machine</p>
				</div>
			</div>
		</section>
	</footer>