<header id="header" class="header">
	<div class="row">
		<div class="large-14 large-centered columns small-only-text-center rhythm">
			<%= partial "partials/_logo" %>
		</div>
	</div>
</header>

<%= partial "partials/_overlay" %>