<header>
	<div class="meta">
		<a href="#" class="category">Research Highlight</a>
	</div>
	<h1 class="beta">Modeling How Fractures Develop</h1>
	<p class="byline">by Daisuke Asahina and Dan Hawkes <time>on June 16th, 2014</time></p>
</header>