<header>
	<h1 class="beta">Climate Sciences Department</h1>
	<p class="lead">Our research mission is to a dvance the understanding and prediction of multiscale climate dynamics, abrupt and extreme climate events, terrestrial feedbacks to climate change, and their impacts on energy and water resources.</p>
</header>