<section class="header">
	<div class="row">
		<div class="large-12 columns">	
			<div class="large-6 columns collapse">
				<%= partial "partials/_logo" %>
			</div>	
			
		</div>
	
		<nav class="full-nav">
			<%= partial "partials/_nav" %>
		</nav>
	</div>
</section>