<header id="header" class="header">
	<div class="row">
		<div class="medium-14 medium-centered columns small-only-text-center">
			<%= partial "partials/_logo" %>
		</div>
	</div>
</header>

<%= partial "partials/_overlay" %>