<section class="header">
	<div class="row">
		<div class="large-14 large-centered columns small-only-text-center rhythm">
			<%= partial "partials/_logo" %>
		</div>
	</div>
</section>

<nav class="full-nav">
	<%= partial "partials/_nav" %>
</nav>