<section class="hero">	
	<div class="row">
		<div class="slide">	
			<figure>
				<img src="http://placehold.it/1200x830">
			</figure>

			<div class="hgroup offset baconMe large-9 large-centered columns">
				<div class="shape">
				<h2>Our Scientific Mission in the 21st Century </h2>
				<p>ESD Scientists are developing new, innovative <br>
				approaches and scientific understanding<br>
				relevent to both energy and the future <br>
				environment, and are working <br>
				with ... <a href="#">Read More</a></p>
				</div>
			</div>
				
		</div>
	</div>
</section>
