<div class="logo">
	<div class="large-3 medium-2 columns collapse small-only-text-center">
		<img src="images/logo.png" class="icon">
	</div>
	<div class="large-9 medium-10 columns collapse small-only-text-center">
		<img src="images/logo-name.png" class="name">
	</div>
</div>
