<div id="trigger-overlay">
  <div class="logo">
	 <div class="logo-svg"><%= partial "partials/_svg" %></div>
  </div>

  <div class="logo sticky">
    <div class="logo-svg stuck"><%= partial "partials/_svg" %></div>
  </div>
	<!-- <img src="images/logo-blk.png" class="name"> -->
</div>
