<div class="overlay overlay-share">
	<a type="button" class="overlay-close"><span class="icon-close"></span></a>
	<nav class="nav-share">
		<ul>
			<li>
				<a href="#">Twitter</a>
			</li>

			<li>
				<a href="#">Facebook</a>
			</li>

			<li>
				<a href="#">Linkedin</a>
			</li>

			<li>
				<a href="#">Google+</a>
			</li>

			<li>
				<a href="#">Tumbler</a>
			</li>

			<li>
				<a href="#">Pintrest</a>
			</li>

			<li>
				<a href="#">Email</a>
			</li>

		</ul>
	</nav>
</div>