<div class="overlay overlay-hugeinc">
	<button type="button" class="overlay-close">Close</button>
	<nav>
		<ul>
			<li>
				<a href="#">Projects</a>
			</li>

			<li>
				<a href="#">Studio Information</a>
			</li>

			<!-- <li>
				<a href="#">News</a>
			</li> -->

			<li>
				<a href="#">Contact</a>
			</li>

<!-- 			<li>
				<a href="#">Jobs</a>
			</li> -->
		</ul>
	</nav>
</div>