<div class="overlay overlay-hugeinc">
	<button type="button" class="overlay-close">Close</button>
	<nav class="nav-overlay row">
		<section class="medium-14 medium-centered columns tall">	
			
			<div class="row tall">
				
				<div class="nav-primary tall medium-12 large-6 columns">
					<div class="statement">
						<p>A San Fransico based design firm, focused on experience design, product and identity. </p>
					</div>
					<ul class="nav-main">
						<li>
							<a href="#">Projects</a>
						</li>
						<li>
							<a href="#">Studio Information</a>
						</li>
						<li>
							<a href="#">Contact</a>
						</li>
					</ul>
				</div>
				
				<div class="nav-secondary tall large-8 columns">
					<ul class="nav-projects">
						<li>
							<a href="#">Artists Public Domain</a>
						</li>
						<li>
							<a href="#">Boost — Mercedes-Benz</a>
						</li>
						<li>
							<a href="#">Van Acker Construction</a>
						</li>
						<li>
							<a href="#">Samovar</a>
						</li>
						<li>
							<a href="#">Better — Mayo Clinic</a>
						</li>
						<li>
							<a href="#">iSearch Media</a>
						</li>
						<li>
							<a href="#">Cloud Based iOS App</a>
						</li>
						<li>
							<a href="#">Heath Ceramics</a>
						</li>
						<li>
							<a href="#">Channel X</a>
						</li>
						<li>
							<a href="#">Logos & Identities</a>
						</li>
						<li>
							<a href="#">Self Publishing</a>
						</li>
					</ul>
				</div>
			</div>	
		</section>
	</nav>
</div>