<div class="pagination-centered">
	<ul class="pagination">
		<li class="first"><a href="#">&laquo;</a></li>
		<li class="prev"><a href="#">&lsaquo;</a></li>
		<li class="page current"><a href="#">1</a></li>
		<li class="page"><a href="#">2</a></li>
		<li class="page"><a href="#">3</a></li>
		<li class="unavailable"><a href="">&hellip;</a></li>
		<li class="page"><a href="#">4</a></li>
		<li class="next"><a href="#">&rsaquo;</a></li>
		<li class="last"><a href="#">&raquo;</a></li>
	</ul>
</div>