<p class="large">Still in a private testing, Channel X is an open marketplace for both SD and HD acquisition of broadcast quality video content on the web. </p>

<p class="meta large">Web, Identity, Print, Strategy <a id="trigger-overlay-share" href="#"> — Share</a></p>