<h5>Headings:</h5>	

<h1>An acute angle is an angle less than a right angle.</h1>
<h2 class="sans">A figure is that which is contained by any boundary or boundaries.</h2>
<h3>That all right angles equal one another.</h3>
<h4 class="sans">To draw a straight line from any point to any point.</h4>
<h5>To describe a circle with any center and radius.</h5>		
