<div class="row">
	<nav class="tab-menu large-12 columns">
		<ul class="inline-list">
			<li><a href="index.html">Library</a></li>
			<li><a href="type.html">Type</a></li>
			<li><a href="page.html">Page</a></li>
			<li><a href="page-local.html">Page Local</a></li>
			<li><a href="single.html">Single</a></li>
			<li><a href="archive.html">Archive</a></li>
		</ul>
	</nav>
</div>
