<section style="background-color:#000;">
	<div class="row">
		<nav class="tab-menu large-12 columns">
			<ul class="inline-list">
				<li><a href="index.html">Library</a></li>
				<li><a href="type.html">Type</a></li>
				<li><a href="single-project.html">Single</a></li>
				<li><a href="cover-article.html">Page</a></li>
				<li><a href="archive.html">Archive</a></li>
				<li><a href="blog.html">News</a></li>
				<li><a href="single-post.html">Single Post</a></li>
				<li><a href="single-post-text.html">Text Post</a></li>
				<li><a href="home.html">Home</a></li>
				<li><a href="single-project.html">Single</a></li>
				<li><a href="single-project-video.html">Video</a></li>
			</ul>
		</nav>
	</div>
</section>
