<div class="row">
	<nav class="tab-menu large-12 columns">
		<ul class="inline-list">
			<li><a href="index.html">Library</a></li>
			<li><a href="page.html">Page</a></li>
			<li><a href="page-local.html">Page Local</a></li>
			<li><a href="single.html">Single</a></li>
			<li><a href="archive.html">Archive</a></li>
			<li><a href="home.html">Home</a></li>
			<li><a href="area.html">Program Area</a></li>
			<li><a href="program.html">Program</a></li>
			<li><a href="project-area.html">Project Area</a></li>
			<li><a href="project.html">Project</a></li>
			<li><a href="department.html">Department</a></li>
			<li><a href="publications.html">Publications</a></li>
		</ul>
	</nav>
</div>
