<h5>Color Palette:</h5>

<ul class="swatches large-block-grid-5 rhythm">
	<li class="swatch primary"></li>
	<li class="swatch secondary"></li>
	<li class="swatch wash"></li>
	<li class="swatch alert"></li>
	<li class="swatch success"></li>
</ul>
