<article class="article">
  <h2 class="alpha"><a href="http://foundation.zurb.com/docs" class="dim">Ideas, Expectations & Style – Device Design Day 2011</a></h2>
  <p> It is interesting that when one thinks of a “Device” it is difficult to avoid thinking of a physical object or very specific functioning component. However, it is often the devices that are the least self reflexive that are often the most compelling. Many of the presentations at this year’s Device Design Day revolved around the exploration of the intangibles that allow these more tangible devices to facilitate valuable experiences.</p>

  <p>Robert Brunner’s (Ammunition) lecture was focused on ” Ideas not Objects ” pointing to examples of objects such as the iPod or a Harley Davidson that without the culture or infrastructure surrounding them, which are really the core of the brand – become much less meaningful. The ipod acting as the conduit for a very liberating music consumption experience, and the Harley an invitation to a free spirited club.</p>

  <p>Branko Lukic (Nonobject) discussed his philosophy surrounding the intersection of a user’s expectations and an object’s functional capabilities. The more the two overlap – the more emotionally resonant the object – that it directly enables a person’s desires rather than forcing the user to modify their behavior.</p>

  <p>Leila Takayama (Willow Garage) shared her team’s insights around this same area of overlap in their work creating robots that need to interact with people. One finding was that (not surprisingly) the more the robots behaved like people, telegraphing their internal computation, the less awkward the interactions became. An example was a robot scratching it’s “head” while figuring out how to solve a particular problem gives a nearby person the ability to anticipate the robot’s movement.</p>

  <p>Branko also pointed out that perhaps more interesting than a user’s specific expectations, are the areas where their innate human tendencies are stimulated by this area of overlap – by unprecedented and unexpected experiences. Branko’s example of type of device was of a camera that takes the image you frame, as well as the image directly behind you. For me personally, this was one of the more forward thinking points in the conference – that devices don’t necessarily need to cater solely to existing expectations – but can facilitate new experiences.</p>

  <p>In his presentation on “Style” and interactivity Mike Kruzeniski (Microsoft) brought up the same point – that the current state of mobile UI’s is extremely generic and derivative – an area ripe for “innovation” or perhaps just a relevant point of view – a solution that speaks to a specific audiences needs rather than a one size fits all mobile device. This more “stylized” solution could be interpreted as just a product that’s designed more specifically and inherently more valuable to a particular type of user.</p>

  <p>These intangibles – “Ideas”, “Expectations” and “Styles” are at their core, really just ways that personalities, needs and behaviors (the things than make us humans) manifest themselves. The area where a device’s functionality, tangible or intangible overlaps with the spirit of a particular person – the more meaningful the device. <a href="#" class="more">Read More <span class="icon-more"></span> </a></p>

  <p class="meta"> <a href="#">Design</a>, <a href="#">Photography</a>, <a href="#">Work</a>, <a href="#">Art Direction</a>, <a href="#">Fine Art</a>, <a href="#">Gardening</a>, <a href="#">Published Work</a> 
  <p><a href="#" class="share share-tigger"> Share</a></p>
</article>
