<div class="share">
	<ul class="sticky">
		<li><a href="#"><span class="icon-close13"></span>Email</a></li>
		<li><a href="#"><span class="icon-twitter"></span>Twitter</a></li>
		<li><a href="#"><span class="icon-facebook"></span>Facebook</a></li>
		<li><a href="#"><span class="icon-google-plus"></span>Google</a></li>
		<li><a href="#"><span class="icon-printer67"></span>Print</a></li>
	</ul>
</div>
