<a class="figure-link">
  <figure class="caption-overlay">
    <%= partial "partials/_video-iframe" %>
    <figcaption class="panel centered">
      <p>View Project</p>
    </figcaption>
  </figure>
</a>