<div class="video-container">
  <iframe src="//player.vimeo.com/video/79913885?/badge=0&byline=0&title=0&portrait=0&autoplay=1&loop=1" width="780" height="439" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>