<div class="wrapper">
  <div class="screen" data-video="http://player.vimeo.com/external/100548965.hd.mp4?s=9a82338920735dbeddd973533916a291">
    <div style="background-image: url(images/hero-full.jpg)" class="big-image"  />
  </div>
</div>