.article {
	margin-bottom: 1em;
	
	.hero {
		overflow: hidden;
		position: relative;
	}
	
	.hgroup {
		
	}
	
	// byline and meta
	.byline {
		
		time {

		}
	}
	
	.meta, .meta a {
		color: #959595;
	}
	
	.type {

	}
	
	a.more {

	}

	// excerpt format
	&.excerpt {

		.inner {
			padding: 1em;
			padding-bottom: 0;
		}
	}
	
	// aside format
	&.aside {
		p {

		}
	
		figure {
			float: left; 
			margin-right: 1em;
		}
	}

	&.archived {

		p {
			@include type-scale(tiny);

			//font-size: .7rem;
			margin-bottom: 0;

		}
	}
}
	