.article {
	margin-bottom: 1em;
	
	.hero {
		overflow: hidden;
		position: relative;
	}
	
	.hgroup {
		
	}
	
	// byline and meta
	.byline {
		font-size: .925em;
		
		time {
			font-family: $sans-font-family;
			color: lighten(#333, 50%);
			margin-left: .5em;
		}
	}
	
	.meta {
		font-size: .725em;
		margin-bottom: .75em;
	}
	
	.type {
		display: inline-block;
	}
	
	a.more {
		@extend %small-link
	}

	// excerpt format
	&.excerpt {
		@extend %small-text;

		%hN {
			font-weight: 600;
		}

		.inner {
			padding: 1em;
			padding-bottom: 0;
		}
	}
	
	// aside format
	&.aside {
		p {
			@extend %small-text;
		}
	
		figure {
			float: left; 
			margin-right: 1em;
		}
	}

	&.archived {
		@extend %bordered-list;
	}
}
	