.hero {
	margin-bottom: 2em;
}

.slide {
	overflow: hidden;
}

.cover {
	background-size: cover;
	height: 100vh;
	width: 100%;
	background-position: 50% 50%;

	@media #{$medium-up} {
		background-position: 0 0;
		height: 80vh;
		min-height: 700px;
	}	
}

body.home {
	.cover {
		height: 100vh;
	}
}