.hero {
	@include margin-trailer(1.5);
	display: block;
	padding: 125% 0 0 0;
	position: relative;
	width: 100%;

	@media #{$medium-up} {
		padding: 65% 0 0 0;
		@include margin-trailer(3);
	}	

	@media #{$large-up} {
		padding: 0;
		height: 700px;
	}

	@media #{$large-up} and 
	(-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 
		height: 80vh;
	}

	@media #{$xlarge-up} {
		height: 80vh;
	}
}

.slide {
	overflow: hidden;
}

.cover {
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;

	@media #{$large-up} {

	}

	@media #{$xlarge-up} {

	}	
}

body.home {

	.hero {
		padding: 0;
		height: 100%;
		margin-bottom: 0;
	}

	.cover {
		@media #{$large-up} {
			max-height: none;
		}	
	}
}

@media #{$large-up} {
	.single-article, .cover-article {
		.hero {
			@include grid-column(14, true, true, false);
			overflow: hidden;

			.cover {
				margin-left: 1.125rem;
				margin-right: 1.125rem;
			}
		}
	}
}
