%bordered-list {		
	border-bottom: 1px solid #efefef;
	padding-bottom: 1em;
	padding-top: .5em;
	list-style: none;
}

.bordered-list {
	margin: 0;
	margin-bottom: 1em;

	li {
		@extend %bordered-list;
		padding-top: 2em;
	}
}

.underlined {
	border-bottom: 1px solid #333;
	display: inline-block;
	padding-bottom: .25rem;
}	

.lined-list {
	h4 {
		border-bottom: 1px solid #333;
		display: inline-block;
		margin-bottom: .25rem;
		padding-bottom: .25rem;
	}

	ul, dl {
		@include margin-trailer(1);
	}

	li, dt, dd {
		line-height: 1.5em;
	}
}

.rhythm-list {
	
	li {
		@include margin-trailer(.75);
	}
}

.client-list {
	li {
		line-height: 1.425em;
	}
}