.panel {
	background: $alert-color;
	border: none;
	padding: 3em;
	
	li a {

	}
	
	&.bright {
		background-color: $primary-color;
		p {
			color: #fff;
			text-align: center;
		}
	}	
	
	&.dark {
		background-color: $primary-color;
		%hN, p {
			color: #fff;
			text-align: center;
		}
	}
	
	&.bright p, &.dark p {
		color: rgba(#fff, .5);
	}
}	
