.panel {
	background: $alert-color;
	border: none;
	padding: 1.5em;
	
	@media #{$medium-up} {
		padding: 2em;
	}		

	@media #{$large-up} {
		padding: 3em;
	}	
	
	&.bright {
		background-color: $primary-color;
		p {
			color: #fff;
			text-align: center;
		}
	}	
	
	&.dark {
		background-color: $primary-color;
		%hN, p {
			color: #fff;
			text-align: center;
		}
	}
	
	&.bright p, &.dark p {
		color: rgba(#fff, .5);
	}

	p {
		@include type-scale(tiny);

		@media #{$medium-up} {
			@include type-scale(small);
		}

		@media #{$large-up} {
			@include type-scale(base);
		}	
	}
}
