.post {
	p {
		letter-spacing: .5px;

		strong {
			letter-spacing: 0;
		}
	}

	ul {
		margin: 2em;
	}

	li {
		@extend %post-text;
		letter-spacing: .5px;
		margin-bottom: 1em;
	}

	%hN {
		a {
			text-decoration: none;
		}
	}

	a {
		text-decoration: underline;
	}
}