.footer {
	@include margin-leader(1);
	background-color: #000;
	color: #fff;
	padding-top: 2em;
	
	#{h1, h2, h3, h4, h5, h6} {
		color: #fff;
		margin-bottom: 0;
	}

	a {
		color: #fff;
	}

	.sock {
		padding-top: 1em;

		.copy {
			font-size: .625rem;
		}
	}
}

.footer-menu {
	@include margin-leader(1);
	@include margin-trailer(3);
	padding-left: 1.5rem;
	padding-right: 1.5rem;

	@media #{$medium-up} {
		margin-bottom: 8em;
	}
		
	.underlined {
		border-bottom-color: #fff;
		@include type-scale(small);
		letter-spacing: .04em;

		@media #{$medium-up} {
			@include type-scale(small);
		}

		@media #{$large-up} {
			@include type-scale(base);
		}	
	}

	.footer-list {
		@include margin-trailer(1.5);
		margin-top: .125em;
		@include type-scale(small);
		letter-spacing: .04em;

		@media #{$medium-up} {
			@include type-scale(small);
		}

		@media #{$large-up} {
			@include type-scale(base);
		}	
		
		li {
			list-style: none;
			white-space: nowrap;

			&.column {
				@media #{$medium-up} {
					@include grid-column($columns:2);
				}
			}
			
			a {
				font-weight: 400;
			}
		}
	}
}

body.home {
	.footer {
		margin-top: 0;
	}
}
