.footer {
	background-color: #000;
	color: #fff;
	margin-top: 2em;
	padding-top: 2em;
	
	%hN, p, a {
		color: #fff;
	}
	
	.sock {
		padding-top: 1em;
	}
	
	.serif {
		font-weight: 300;	
	}

	.underlined {
		border-bottom-color: #fff;
	}
}

.footer-menu {
	margin: 2em 0 3em 0;
	overflow: hidden;
	
	ul {
		margin: 0;
	}
	
	li {
		font-size: .925em;
		list-style: none;
		line-height: 2em;
		
		&.column {
			@media #{$medium-up} {
				@include grid-column($columns:2);
			}
		}
		
		a {
			font-weight: 400;
		}
	}
}
