.footer {
	background-color: #000;
	color: #fff;
	margin-top: 2em;
	padding-top: 2em;
	
	#{h1, h2, h3, h4, h5, h6} {
		color: #fff;
		margin-bottom: 0;
	}

	a {
		color: #fff;
	}
	
	.sock {
		padding-top: 1em;
	}
	
	.serif {
		font-weight: 300;	
	}

	.underlined {
		border-bottom-color: #fff;
	}
}

.footer-menu {
	margin: 2em 1em;

	.footer-list {
		margin-bottom: 2em;
		
		li {
			list-style: none;
			
			&.column {
				@media #{$medium-up} {
					@include grid-column($columns:2);
				}
			}
			
			a {
				font-weight: 400;
			}
		}
	}
}

body.home {
	.footer {
		margin-top: 0;
	}
}
