// .max-block-grid {
// 	.archive-block {
// 		@media #{$medium-up} {
// 			max-width: 360px;
// 		}
// 	}
// }

// $medium-range: (40.063em, 64em);
// $large-range: (64.063em, 90em);
// $xlarge-range: (90.063em, 120em);
// $xxlarge-range: (120.063em);

@media #{$medium-up} {
	.medium-block-grid-2 > li{
		width: 50%;
	}

	.medium-block-grid-2 > li:nth-of-type(n) {
		clear: none;
	}

	.medium-block-grid-2 > li:nth-of-type(2n+1) {
      	clear: both; 
  	}

	.medium-block-grid-2 > li:nth-of-type(odd) {
		padding-right: 1.75rem;
	}

	.medium-block-grid-2 > li:nth-of-type(even) {
		padding-left: 1.75rem;
	}
}

@media #{$xlarge-up} {
	.xlarge-block-grid-3 > li{
		width: 33.333%;
	}

	.xlarge-block-grid-3 > li:nth-of-type(n) {
		clear: none;
		padding: 0 1.5rem 1.25rem;
	}

	.xlarge-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; 
  	}

	[class*="block-grid-"] {
		margin: 0 -1.5rem;
	}	
}

@media #{$xxlarge-up} {
	.xxlarge-block-grid-4 > li {
		width: 25%;
	}

	.xxlarge-block-grid-4 > li:nth-of-type(n) {
		clear: none;
	}

	.xxlarge-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; 
  	}
}
