.max-block-grid {
	.archive-block {
		@media #{$medium-up} {
			max-width: 360px;
		}
	}
}

// $medium-range: (40.063em, 64em);
// $large-range: (64.063em, 90em);
// $xlarge-range: (90.063em, 120em);
// $xxlarge-range: (120.063em);

@media only screen 
and (min-width : 36em) 
and (max-width : 55em) {
	.base-block-grid-2 > li{
		width: 50%;
	}

	.base-block-grid-2 > li:nth-of-type(n) {
		clear: none;
	}
}

@media only screen 
and (min-width : 55.063em) 
and (max-width : 70em) {
	.medium-block-grid-3 > li{
		width: 33.333%;
	}

	.medium-block-grid-3 > li:nth-of-type(n) {
		clear: none;
	}
}

@media only screen 
and (min-width : 70.063em)
and (max-width : 95em) {
	.large-block-grid-4 > li {
		width: 25%;
	}

	.large-block-grid-4 > li:nth-of-type(n) {
		clear: none;
	}
}

@media only screen 
and (min-width : 95.063em) 
and (max-width : 120.063em) {
	.xlarge-block-grid-5 > li {
		width: 20%;
	}

	.xlarge-block-grid-5 > li:nth-of-type(n) {
		clear: none;
	}
}

@media only screen 
and (min-width : 120.063em) {
	.xxlarge-block-grid-6 > li {
		width: 16.667%;
	}

	.xxlarge-block-grid-6 > li:nth-of-type(n) {
		clear: none;
	}
}