%white-letters {
	.letter {
		fill: #fff;
		@extend %fill-transition;
	}

	&:hover {
		.letter {
			fill: rgba(#fff, .5);
		}
	}	
}

%black-letters {
	.letter {
		fill: #000;
		@extend %fill-transition;
	}

	&:hover {
		.letter {
			fill: rgba(#000, .5);
		}
	}
}

%fill-transition {
	-webkit-transition: fill 0.2s ease-in-out;
	transition: fill 0.2s ease-in-out;
}

%color-transition {
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.logo-svg {
	padding: 16px;
	width: 128px;
	height: 50px;
	margin: 2.275em 0 1.175em 0;
	z-index: 500;

	@media screen and (max-height: 25em) {
		margin-top: 1em;
	}	

	.letter {
		fill: #333;
		@extend %fill-transition;
	}	

	&:hover {
		.letter {
			fill: $primary-color;
		}
	}

	svg {
		margin: 0;
	}

	@media #{$medium-up} {
		margin: 3em 0 .5em -14px;
	}	

	@media #{$large-up} {
		height: 60px;
		margin: 4em 0 0 -14px;
		width: 160px;

		svg {
			margin: 0;
		}
	}
}

.nav-overlay {
	.logo-svg {
		@extend %white-letters;
	}
}

.open {
	header.header {
		.logo {
			display: none;
		}
	}
}

header.header {
	position: relative;
	width: 100%;
	z-index: 500;
	
	.logo-svg {
		@media #{$medium-up} {
			margin-bottom: 2em;
		}	
	}
		
	.logo {
		
		.logo-svg {
			opacity: 1;
			-webkit-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;

			&.stuck {
				background-color: $primary-color;
				display: inline-block;
				height: 36px;
				opacity: 0;
				margin: 0;
				padding: 4px 18px 14px;
				position: fixed;
				width: 120px;
				top: -36px;
				-webkit-transition: top 0.2s ease-in-out;
				transition: top 0.2s ease-in-out;

				.letter {
					fill: #fff;
				}	
			}
		}	
			
		&.sticky {
			position: fixed;
			top: 0;
			left: 0 !important;
			
			@media #{$medium-up} {
				left: auto !important;
			}

			.logo-svg {
				opacity: 0;
			}	

			.logo-svg.stuck {
				margin-top: 0;
				margin-left: 0;
				opacity: 1;
				position: absolute;
				top: 0;
				-webkit-transition: opacity 0.2s ease-in-out;
				transition: opacity 0.2s ease-in-out;

				@extend %white-letters;

				svg {
					margin: 0;
				}
			}		
		}
	}
}

body.single-project, body.home, body.cover-article {
	padding-top: 0;

	header.header {
		position: absolute;
	}

	.logo-svg {
		@extend %white-letters;
	}
}

@media #{$large-up} {
	body.cover-article {
		
		header.header {
			position: relative;
		
			.logo-svg {
				.letter {
					fill: #000;
					-webkit-transition: fill 0.2s ease-in-out;
					transition: fill 0.2s ease-in-out;
				}

				&:hover {
					.letter {
						fill: rgba(#000, .7);
					}
				}
			}
		}
	}
}

body.hero-contrast {	
	.overlay-navigation.open {	
		header.header, .nav-primary .logo-svg {
			@extend %white-letters;
		}
	}

	header.header, .nav-primary {
		.logo-svg {
			@extend %black-letters;
		}
		
			
		.scroll-to-fixed-fixed {
			.logo-svg {
				@extend %white-letters;
			}
		}
	}
}	

body.home.hero-contrast {	
	.overlay,
	.overlay .nav-overlay .nav-projects li a,
	.overlay .nav-overlay .nav-main li a,
	.overlay .scroll-arrows .arrow,
	.overlay .nav-overlay p 
	{
		color: #000;
		@extend %color-transition;
	}

	.overlay .nav-overlay .nav-projects li a {
		&:hover {
			color: #fff;
			@extend %color-transition;
		}
	} 

	.overlay .scroll-arrows .arrow {
		&:hover {
			color: rgba(#000, .7);
		}

		&.disabled {
			color: rgba(#000, .15);
		}
	}
}
