.logo-svg {
	padding: 16px;
	width: 128px;
	height: 50px;
	margin: 2.275em 0 1.175em 0;
	z-index: 500;

	.letter {
		fill: #333;
		-webkit-transition: fill 0.2s ease;
		transition: fill 0.2s ease;
	}	

	&:hover {
		.letter {
				fill: $primary-color;
		}
	}

	svg {
		margin: 0;
	}

	@media #{$medium-up} {
		margin: 3em 0 .5em -14px;
	}	

	@media #{$large-up} {
		height: 60px;
		margin: 4em 0 0 -14px;
		width: 160px;

		svg {
			margin: 0;
		}
	}
}

.nav-overlay {
	.logo-svg {
		.letter {
			fill: #fff;
			-webkit-transition: fill 0.2s ease;
			transition: fill 0.2s ease;
		}	

		&:hover {
			.letter {
				fill: rgba(#fff, .5);
			}
		}
	}
}

.open {
	header.header {
		.logo {
			display: none;
		}
	}
}

header.header {
	position: relative;
	width: 100%;
	z-index: 500;
	
	.logo-svg {
		@media #{$medium-up} {
			margin-bottom: 2em;
		}	
	}
		
	.logo {
		
		.logo-svg {
			visibility: visible;

			&.stuck {
				display: none;
			}
		}	
			
		&.scroll-to-fixed-fixed {
			left: 0 !important;
			
			@media #{$medium-up} {
				left: auto !important;
			}

			.logo-svg {
				visibility: hidden;
			}	

			.logo-svg.stuck {
				background-color: $primary-color;
				display: inline-block;
				margin-top: 0;
				margin-left: 0;
				padding: 8px 18px 12px;
				position: absolute;
				width: 120px;
				height: 36px;
				top: 0;
				visibility: visible;

				.letter {
					fill: #fff;
					-webkit-transition: fill 0.2s ease;
					transition: fill 0.2s ease;
				}

				&:hover {
					.letter {
						fill: rgba(#fff, .5);
					}
				}

				svg {
					margin: 0;
				}
			}		
		}
	}
}

body.single-project, body.home, body.cover-article {
	padding-top: 0;

	header.header {
		position: absolute;
	}

	.logo-svg {
		.letter {
			fill: #fff;
			-webkit-transition: fill 0.2s ease;
			transition: fill 0.2s ease;
		}

		&:hover {
			.letter {
				fill: rgba(#fff, .5);
			}
		}
	}
}

@media #{$large-up} {
	body.cover-article {
		
		header.header {
			position: relative;
		
			.logo-svg {
				.letter {
					fill: #333;
				}
			}
		}
	}
}

body.hero-contrast {	
	header.header, .nav-primary {
		.logo-svg {
			.letter {
				fill: #000;
				-webkit-transition: fill 0.2s ease;
				transition: fill 0.2s ease;
			}
		}

		.scroll-to-fixed-fixed {
			.logo-svg {
				.letter {
					fill: #fff;
				}
			}
		}
	}

	.overlay,
	.overlay .nav-overlay .nav-projects li a,
	.overlay .nav-overlay .nav-main li a,
	.overlay .scroll-arrows .arrow,
	.overlay .nav-overlay p {
		color: #000;
		-webkit-transition: color 0.2s;
		transition: color 0.2s;
	}

	.overlay .nav-overlay .nav-projects li a {
		&:hover {
			color: #fff;
			-webkit-transition: color 0.2s;
			transition: color 0.2s;
		}
	}

	.overlay .scroll-arrows .arrow {
		&:hover {
			color: rgba(#000, .7);
		}

		&.disabled {
			color: rgba(#000, .15);
		}
	}
}
