.header {
	
	.logo {
		position: relative;
		padding-top: 2em;
		
		.name {

		}	
	}
	
	.tool-bar {
		@media #{$large-up} {
			
		}
	}
	
	.social {
		position: absolute;
		top: auto;
		bottom: .5em;
		right: 1em;
	
		@media #{$large-up} {

		}
	}	
}
