.blog {
	background-color: #ddebf3;
	height: auto;

	.meta {
		margin-top: -.6rem;
	}

	.meta, .meta a {
		color: #96a7b1;
		font-size: .7rem;

		&.share {
			color: $primary-color;
		}
	}

	.blog-row {
		margin-bottom: 1em;
	}
}