.blog, .single-post, .tag {
	background-color: #ddebf3;
	height: auto;

	.content {
		@media #{$medium-up} {
			margin-top: 2em;
		}
	}

	.blog-row {
		@include margin-trailer(2);

		@media #{$medium-up} {
			@include margin-trailer(4);
		}

		figure {
			margin-top: .4rem;
		}

		hr {
			height: .25rem;
			background-color: $primary-color;
			margin-top: .4rem;
		}
	}

	.alpha {
		@media #{$medium-up} {
			@include type-scale(mediumlarger);
		}

		@media #{$large-up} {
			@include type-scale(large);
		}
	}

	p {
		@include margin-trailer(1);
		letter-spacing: .04em;

		@media #{$medium-up} {
			@include type-scale(small);
		}

		@media #{$large-up} {
			@include type-scale(base);
		}
	}

	.meta {
	//	margin-top: -.6rem;
	}

	.more {
		position: relative;
		padding-right: 1em;
	}

	.icon-more {
		position: absolute;
		font-size: .725rem;
		right: 0;
		bottom: 0;

		@media #{$medium-up} {
			font-size: .725rem;
		}

		@media #{$large-up} {
			font-size: .825rem;
		}
	}

	.meta, .meta a {
		color: #96a7b1;
		@include type-scale(tiny);
		letter-spacing: .04em;

		@media #{$medium-up} {
			@include type-scale(small);
		}

		@media #{$large-up} {
			line-height: 1rem;
		}	
	}

	.share {
		@include type-scale(tiny);
		border-bottom: 1px solid $primary-color;
		color: $primary-color;
		padding-bottom: .25em;
		letter-spacing: .04em;

		@media #{$medium-up} {
			@include type-scale(small);
		}	
	}
}

.single-post {
	.pager {
		@include margin-leader(1);

		@media #{$medium-up} {
			@include margin-leader(1);
		}	
	}
}	
