.home {
	.overlay {
		background-color: transparent;
		position: absolute;
	}

	.overlay-navigation {
		opacity: 1;
		visibility: visible;
	
		.nav-secondary {
		-webkit-perspective: 1200px;
		perspective: 1200px;
		
		ul {
			opacity: 1;
			-webkit-transform: translateY(0) rotateX(0);
			transform: translateY(0) rotateX(0);
			}
		}	

		&.close .nav-secondary ul {
			-webkit-transform: translateY(0) rotateX(0);
			transform: translateY(0) rotateX(0);
		}
	}
}