.home {

	header.header {
		.logo {
			display: none;
		}
	}

	&.page {
		.content {
			background-color: $primary-color;
			margin-top: 0;
			height: 100%;
			width: 100%;
			position: absolute;
		}
	}

	.logo-svg {
		&:hover {
			background-color: $primary-color;
		}
	}	

	.overlay {
		background-color: transparent;
		position: absolute;

		.overlay-close {
			display: none;
		}	
	}

	.cover {
//		background-color: $primary-color;
		
    &.active {
		  opacity: 1;
  	}

  	@media #{$large-up} {	
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}

	.footer {
		display: none;
		// @media #{$large-up} {	
		// 	z-index: 1000;
		// 	position: absolute;
		// 	width: 100%;
		// 	bottom: -150%;
		// }
	}

	.overlay-navigation {
		opacity: 1;
		visibility: visible;
	
		.nav-primary {
			position: relative;

			@media #{$large-up} {
				position: fixed;
			}
		}

		.nav-secondary {
			-webkit-perspective: 1200px;
			perspective: 1200px;
		
		/* Masking effect: currently causing a double scroll event */
			// @media #{$large-up} {
			// 	position: absolute;
			// 	right: 0;
			// 	overflow-y: scroll;
			// 	height: 80%;
			// 	margin-top: 3em;
			// }

			ul {
				opacity: 1;
				-webkit-transform: translateY(0) rotateX(0);
				transform: translateY(0) rotateX(0);
			}	

			&.close .nav-secondary ul {
				-webkit-transform: translateY(0) rotateX(0);
				transform: translateY(0) rotateX(0);
			}
		}

		.nav-projects {
			
			li {
				background-color: transparent;
				-webkit-transition: background-color 0.5s;
				transition: background-color 0.5s;

				&:hover {
					background-color: $primary-color;
				}

				a {
					display: inline-block !important;

					&:hover {
						color: #fff;
					}
				}
			}
		}
	}	
}
