body.page .content {
	// overflow-x: hidden;
}

.single-article {
	.leader {
		@include margin-trailer(1);

		@media #{$medium-up} {
			@include margin-trailer(3.5);

			h1 {
				@include margin-trailer(1.275);
			}
		}

		@media #{$large-up} {
			@include margin-trailer(2);
		}

		.large {
      @include type-scale(medium);

      @media #{$medium-up} {
        @include type-scale(mediumlarger);
      }

      @media #{$large-up} {
        @include type-scale(large);
      }
    }	
	}
}

.bright {
	@media #{$medium-up} {
		h3 {
			@include type-scale(small);
		}

		h4 {
			@include type-scale(small);
		}
	}

	@media #{$large-up} {
		h3 {
			@include type-scale(base);
		}

		h4 {
			@include type-scale(base);
		}
	}
}

.client-list {
	@include margin-trailer(1);
}

.contact-info {
	background-color: $alert-color;
	padding: 3rem 0 2rem 0;

	@media #{$medium-up} {
		padding: 6rem 0 5rem 0;

		h3 {
			@include type-scale(small);
		}

		p {
			@include type-scale(small);
		}
	}

	@media #{$large-up} {
		padding: 3rem 0 2rem 0;

		h3 {
			@include type-scale(base);
		}

		p {
			@include type-scale(base);
		}	
	}	
}

.clients-awards {
	.columns .columns {
		border-bottom: 1px solid #ccc;
		padding-top: 3rem;
		padding-bottom: 2rem;

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}

		@media #{$medium-up} {
			border-bottom: none;
			padding-top: 6rem;

			h3 {
				@include type-scale(small);
			}

			h4 {
				@include type-scale(small);
			}
		}

		@media #{$large-up} {
			padding-top: 3.5rem;


			h3 {
				@include type-scale(base);
			}

			h4 {
				@include type-scale(base);
			}
		}	
	}
}
