body.page .content {
	// overflow-x: hidden;
}

.single-article {
	.leader {
		@include margin-trailer(1);

		@media #{$medium-up} {
			@include margin-trailer(2);
		}
	}
}

.client-list {
	@include margin-trailer(1);
}

.contact-info {
	background-color: $alert-color;
	padding: 3rem 0 2rem 0;
}

.clients-awards {
	.columns .columns {
		border-bottom: 1px solid #ccc;
		padding-top: 3rem;
		padding-bottom: 2rem;

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}

		@media #{$medium-up} {
			border-bottom: none;
			padding-top: 3.5rem;
		}	
	}
}
