.single-project {

	.leader {
		@include margin-trailer(1.5);
		
		@media #{$medium-up} {
			@include margin-trailer(2);
		}

    h1 {
      @include margin-trailer(1.5);

      @media #{$large-up} {
        @include type-scale(xxlarge);
      }
    }

    .large {
      @include type-scale(medium);

      @media #{$medium-up} {
        @include type-scale(mediumlarger);
      }

      @media #{$large-up} {
        @include type-scale(large);
      }
    }
	}

	.project-section {
		@include margin-trailer(2);

      &:last-of-type {
        margin-bottom: 0;
      }

    p {
      letter-spacing: .04em;

      @media #{$medium-up} {
        @include type-scale(mediumlarger);
      }

      @media #{$large-up} {
        @include type-scale(base);
      }  
    }

    .scroll-to-fixed-fixed {
      display: none;

      @media #{$medium-up} {
        display: block;
      }  
    }
	}

  .offering {

    @media #{$medium-up} {
      @include margin-trailer(3);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .awards {
    @include type-scale(base);
    @include margin-leader(2.5);
    @include margin-trailer(3);

    .underlined {
      display: inline;

      @media #{$medium-up} {
        @include type-scale(small);
      }

      @media #{$large-up} {
        @include type-scale(base);
      }  
    }

    p {
      @include type-scale(base);
      
      @media #{$medium-up} {
        @include type-scale(small);
      }
      @media #{$large-up} {
        @include type-scale(base);
      }
    }

    @media #{$medium-up} {
      @include type-scale(small);
    }

    @media #{$large-up} {
      @include type-scale(base);
      margin-top: 0;
      padding-left: 1em;
    }
  }

	.two-column {
  	@media #{$medium-up} {
      -moz-column-count: 1;
      -moz-column-gap: 0;
      -webkit-column-count: 1;
      -webkit-column-gap: 0;
  	}

  	@media #{$large-up} {
      -moz-column-count: 2;
      -moz-column-gap: 60px;
      -webkit-column-count: 2;
      -webkit-column-gap: 60px;
  	}
  }	
}
