.alignleft {
	@media #{$large-up} {
		float: left;
		margin-right: 2em;
		margin-bottom:  3em;
		margin-left: -10rem;
	}
}

.alignright {
	@media #{$large-up} {
		float: right;
		margin-left: 2em;
		margin-bottom:  3em;
		margin-right: -10rem;
	}
}

.relative {
	position: relative;
}

.bright {
	background-color: #fff;
}

.dim {
	color: rgba(#fff, .3);
}

.columns.collapse {
	padding: 0;
}

%inverse-type {
	color: #fff;
	webkit-font-smoothing: antialiased;
	
	%hN, a {
		color: #fff;
	}
}

%inverse-button {
	background-color: transparent;
	border: 2px solid #fff;
}

.bright-container {
	background-color: #fff;
}

.featured-section {
	border-top: 2px solid $primary-color;
	padding-top: 2em;
}

.page-section {
	padding: 3rem 0 2rem 0;
	@media #{$medium-up} {
		padding: 6rem 0 5rem 0;
	}

	@media #{$large-up} {
		padding: 3.5rem 0 2.5rem 0;
	}
}

.gutter-right {
	@media #{$medium-up} {
		padding-right: 2.25rem;
	}
}

.rhythm {
    @include margin-trailer(1);
}

.rhythm-2 {
    @include margin-trailer(2);
}

.rhythm-3 {
    @include margin-trailer(3);
}

.offering {
	@include margin-trailer(1);
	
	.no-rhythm {
		margin-bottom: 0;
	}

	&.gallery-rhythm {

		.rhythm {
    	@include margin-trailer(1);

    	&:last-of-type {
    		margin-bottom: 0;
    	}
		}

		.no-rhythm {
			margin-bottom: 0;
		}
	}
}

.loading {
	opacity: 0;
}
