.alignleft {
	@media #{$large-up} {
		float: left;
		margin-right: 2em;
		margin-bottom:  3em;
		margin-left: -10rem;
	}
}

.alignright {
	@media #{$large-up} {
		float: right;
		margin-left: 2em;
		margin-bottom:  3em;
		margin-right: -10rem;
	}
}

.relative {
	position: relative;
}

.content {
	padding-top: 2em;
}

.wash {
	background-color: #efefef;
}

.columns.collapse {
	padding: 0;
}

%inverse-type {
	color: #fff;
	webkit-font-smoothing: antialiased;
	
	%hN, a {
		color: #fff;
	}
}

%inverse-button {
	background-color: transparent;
	border: 2px solid #fff;
}

.page-header {
	padding-top: 1.5em;
}

.primary-container {
	background-color: $primary-color;

	p, .dim {
		color: darken($primary-color, 15%);
	}
}

.secondary-container {
	background-color: $secondary-color;

	p, .dim {
		color: darken($secondary-color, 15%);
	}
}

.primary-container, .secondary-container {
	@extend %inverse-type;
	padding-bottom: 1.5em;

	.button, button {
		@extend %inverse-button;
	}
}

.wash-container {
	background-color: $wash-color;
}

.featured-section {
	border-top: 2px solid $primary-color;
	padding-top: 2em;
}