// $h1-font-size: rem-calc(37);
// $h2-font-size: rem-calc(27);
// $h3-font-size: rem-calc(23);
// $h4-font-size: rem-calc(18);
// $h5-font-size: 1rem;
// $h6-font-size: rem-calc(14);

// $ms-base: 1em;
// $ms-ratio: $major-third;

// $h1-font-size: ms(6);
// $h2-font-size: ms(5);
// $h3-font-size: ms(4);
// $h4-font-size: ms(3);
// $h5-font-size: ms(2);
// $h6-font-size: ms(1);

$base-line-height: 20px;
$rhythm-unit: “rem”;

$tiny-font-size: 12px;
$tiny-font-leading: 0.75;
$small-font-size: 14px;
$small-font-leading: 0.75;
$base-font-size: 16px;
$base-font-leading: 1;
$medium-font-size: 24px;
$medium-font-leading: 1.25;
$large-font-size: 24px;
$large-font-leading: 1.25;
$xlarge-font-size: 36px;
$xlarge-font-leading: 1.25;

@mixin typeSize($size) {
 @if $size == "tiny" {
  @include adjust-font-size-to($tiny-font-size);
  @include adjust-leading-to($tiny-font-leading);
 }
 @if $size == "small" {
  @include adjust-font-size-to($tiny-font-size);
  @include adjust-leading-to($tiny-font-leading);
  @media #{$medium-up} {
  @include adjust-font-size-to($small-font-size);
  @include adjust-leading-to($small-font-leading);
  }
 }
 @if $size == "base" {
  @include adjust-font-size-to($small-font-size);
  @include adjust-leading-to($small-font-leading);
  @media #{$medium-up} {
  @include adjust-font-size-to($base-font-size);
  @include adjust-leading-to($base-font-leading);
  }	
 }
 @if $size == "medium" {
  @include adjust-font-size-to($base-font-size);
  @include adjust-leading-to($base-font-leading);
  @media #{$medium-up} {
  @include adjust-font-size-to($medium-font-size);
  @include adjust-leading-to($medium-font-leading);
  }	
 }
 @if $size == "large" {
  @include adjust-font-size-to($medium-font-size);
  @include adjust-leading-to($medium-font-leading);
  @media #{$medium-up} {
  @include adjust-font-size-to($large-font-size);
  @include adjust-leading-to($large-font-leading);
  }	
 }
 @if $size == "xlarge" {
  @include adjust-font-size-to($large-font-size);
  @include adjust-leading-to($large-font-leading);
  @media #{$medium-up} {
  @include adjust-font-size-to($xlarge-font-size);
  @include adjust-leading-to($xlarge-font-leading);
  }	
 }
}


// Type weights
%t-ultrastrong {
 font-weight: 900;
}
%t-strong {
 font-weight: 700;
}
%t-regular {
 font-weight: 400;
}
%t-light {
 font-weight: 300;
}
%t-ultralight {
 font-weight: 200;
}

// Type size variants 
%t-tiny {
 @include typeSize(tiny);
}
%t-small {
 @include typeSize(small);
}
%t-base {
 @include typeSize(base);
}
%t-medium {
 @include typeSize(medium);
}
%t-large {
 @include typeSize(large);
}
%t-xlarge {
 @include typeSize(xlarge);
}
.t-tiny {
 @include typeSize(tiny);
}
.t-small {
 @include typeSize(small);
}
.t-base {
 @include typeSize(base);
}
.t-medium {
 @include typeSize(medium);
}
.t-large {
 @include typeSize(large);
}
.t-xlarge {
 @include typeSize(xlarge);
}



%hN {
  	font-family: $font-family;
	text-rendering: optimizeLegibility; 
	display: block;
//	font-weight: 600;
//	line-height: 1.125em;
	margin: 0;
	padding: 0;

	@extend %t-strong;

	a {
		color: $primary-color;
	}
}

h1,
.alpha {
	@extend %hN;
	@extend %t-xlarge;
}

h2,
.beta {
	@extend %hN;
	@extend %t-large;
}

h3,
.gamma {
	@extend %hN;
	@extend %t-medium;
}

h4,
.delta {
	@extend %hN;
	@extend %t-base;
}

h5,
.epsilon {
	@extend %hN;
	@extend %t-small;
}

h6,
.zeta {
	@extend %hN;
	@extend %t-tiny;
}

p {
	@extend %post-text;
}

a {
	color: $secondary-color;
}

blockquote {

	
	p {

	}
}

.serif {
	font-family:$font-family;
}

.sans {
	font-family:$sans-font-family-2;
}

.normal {

}

.caps {
	text-transform: uppercase;
}

.light {

}

.no-margin {

}

.rhythm {

}

%small-text {
	font-family: $sans-font-family-2;
	color: #999;
}

%small-link {
	color: $primary-color;
	text-transform: uppercase;
}	

%post-text {
	font-family: $sans-font-family;
	color: #656868;	
}		