@include establish-baseline;

@function map-fetch($map, $keys) {
	$key: nth($keys, 1);
	$length: length($keys);
	$value: map-get($map, $key);
	@if ($length > 1) {
		$rest: ();
		@for $i from 2 through $length {
			$rest: append($rest, nth($keys, $i))
		}
		@return map-fetch($value, $rest)
	} @else {
		@return $value;
	}
}

// Compass Vertical Rhythm setup 
$base-font-size: 20px;
$base-line-height: 32px;
$rhythm-unit: "rem";
$rem-with-px-fallback: true;

html, body {
    font-size: 16px;
    font-family: $font-family;
    background-color: $wash-color;
}

@media #{$medium-up} {
	html, body {
		font-size: 20px;
	}
}

// The type-scale Map contains the whole type scale.
// Add your own sizes or modify these, they will be available in the type-scale mixin for use.

$type-prefix: "t-";
$type-scale: (
    tiny: (
        font-size: 10px,
        base-lines: 0.5
    ),
    small: (
        font-size: 15px,
        base-lines: 0.75
    ),
    base: (
        font-size: $base-font-size,
        base-lines: 1
    ),
    medium: (
        font-size: 25px,
        base-lines: 1
    ),
    large: (
        font-size: 30px,
        base-lines: 1.5
    ),
    xlarge: (
        font-size: 40px,
        base-lines: 1.5
    ),
    xxlarge: (
        font-size: 50px,
        base-lines: 2
    )
);

$type-weight: (
    thin: 200,
    light: 300,
    regular: 400,
    bold: 700,
    black: 900
);

// A type scaling utility $type-scale map with the predefined values

 // Each loop that outputs all of the type scales as placeholders with their type-prefix
 // ex. %t-tiny, %t-small
@each $scale in map-keys($type-scale) {
    %#{$type-prefix}#{$scale} {
        @include adjust-font-size-to (
            map-fetch($type-scale, $scale font-size),   
            map-fetch($type-scale, $scale base-lines)
        );
    }
}

// A mixin for using type scale
// Parameters: 
// $scale (tiny, small...) 
// $extend (boolean) - true by default, if needed inside media query use false to @include the content instead of @extend
// ex. @include type-scale(small) or @include type-scale(small, false) for use inside media queries. 

@mixin type-scale($scale, $extend: true, $map: $type-scale) {
    @if $extend {
        @extend %#{$type-prefix}#{$scale};
    }
    @else {
        @include adjust-font-size-to(
            map-fetch($map, $scale font-size),
            map-fetch($map, $scale base-lines)
        );
    }
}

// A simple type-weight mixin
// ex. @include type-weight(strong);
@mixin type-weight($weight) {
    font-weight: map-get($type-weight, $weight);
}

// A quick ligature mixin, to be updated with a more modular one
@mixin type-ligatures() {
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}

// Headings
#{h1, h2, h3, h4, h5, h6} {
    font-family: $base-font-family;
    margin-top: 0;
    @include type-weight(black);
    @include margin-trailer(1);
    @include type-ligatures;
}
h1 {
    @include type-scale(xxlarge);
}
h2 {
    @include type-scale(xlarge);
}
h3 {
    @include type-scale(large);
}
h4 {
    @include type-scale(medium);
}
h5 {
    @include type-scale(base);
}
h5 {
    @include type-scale(tiny);
}

// Paragraphs
p {
    @include margin-trailer(1);
    @include word-break(break-word);
    @include hyphens(auto);
    @include type-ligatures;
    font-family: $font-family;
}

// Small
small {
    @include type-scale(small);
}

a {
	color: $primary-color;
    text-decoration: none;
}

blockquote {

	
	p {

	}
}

ul {
    list-style: none;
    margin: 0;
}

.serif {
	font-family:$font-family;
}

.sans {
	font-family:$sans-font-family;
}

.large {
    @include type-scale(large);
}

.medium {
    @include type-scale(medium);
}

.base {
    @include type-scale(base);
}

.normal {

}

.caps {
	text-transform: uppercase;
}

.light {

}

.no-margin {

}

.rhythm {
    @include margin-trailer(1);
}

.h-sub {
    color: $primary-color;
}

%small-text {
	font-family: $sans-font-family;
	color: #999;
}

%small-link {
	color: $primary-color;
	text-transform: uppercase;
}	

%post-text {
	font-family: $sans-font-family;
	color: #656868;	
}		