@font-face {
    font-family: 'CalibreWeb-Light';
    src: url('../fonts/CalibreWeb-Light.eot');
    src: url('../fonts/CalibreWeb-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CalibreWeb-Light.woff') format('woff'),
         url('../fonts/CalibreWeb-Light.ttf') format('truetype'),
         url('../fonts/CalibreWeb-Light.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CalibreWeb-Semibold';
    src: url('../fonts/CalibreWeb-Semibold.eot');
    src: url('../fonts/CalibreWeb-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CalibreWeb-Bold';
    src: url('../fonts/CalibreWeb-Bold.eot');
    src: url('../fonts/CalibreWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CalibreWeb-Bold.woff') format('woff'),
         url('../fonts/CalibreWeb-Bold.ttf') format('truetype'),
         url('../fonts/CalibreWeb-Bold.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


// $BaseType
// -------------------------------------//

$base-font-size: 16px;
$base-line-height: 24px;

$h1-font-size: rem-calc(44) !default;
$h2-font-size: rem-calc(37) !default;
$h3-font-size: rem-calc(27) !default;
$h4-font-size: rem-calc(23) !default;
$h5-font-size: rem-calc(18) !default;
$h6-font-size: 1rem !default;

$font-family: "CalibreWeb-Light", Helvetica, Arial, sans-serif;
$base-font-family: $font-family;
$sans-font-family: $font-family;
$sans-font-family-semibold: "CalibreWeb-Semibold", Helvetica, Arial, sans-serif;
$sans-font-family-bold: "CalibreWeb-Bold", Helvetica, Arial, sans-serif;
$alt-font-family: $sans-font-family-bold;

// $Brand Colors

$primary-color:     #0457a7;
$secondary-color:   #188e29;
$wash-color:        #e3e3e3;
$alert-color:       #ffff00;
$success-color:     #0e4a77;
