<section class="">
	<div class="row">
		<div class="large-8 columns">
			<%= partial "partials/_hero" %>
		</div>

		<div class="large-4 columns">
			<div class="sidebar">
			<%= partial "partials/_sidebar" %>
			</div>
		</div>	
	</div>
</section>

<section class="featured-section">
	<div class="row">
		<%= partial "partials/_excerpt-3x" %>
	</div>
</section>