<%= partial "components/_single-project" %>

<div class="clear"></div>

<section class="pagination row">
  <div class="large-14 large-centered columns text-center">
  <%= partial "partials/_pager-next" %>
  </div>
</section>
