<%= partial "components/_post" %>

<section class="row">
	<div class="large-14 large-centered columns text-center">
		<a href="#" class="pager next">Next Project <br>
			<span class="icon-down"></span>
		</a>
	</div>
</section>