<section class="single-post"> <!-- Style Only -->
  <%= partial "components/_single-post" %>
</section>

<section class="pagination row">
  <div class="large-14 large-centered columns text-center">
    <a href="#" class="pager large next">Next<br>
    <span class="pager-down icon-down xxlarge"></span>
    </a>
  </div>
</section>