.button {
	color: #fff;
	font-family: $sans-font-family;
	background: $primary-color;
}

.style-1 {
	.button {
		color: #fff;
		background: $primary-color;
		font-family: $sans-font-family;
		text-transform: uppercase;
	}
}

.style-2 {	
	.button {
		color: #fff;
		background: $primary-color;
	}
}		