@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-ayumq4');
	src:url('../fonts/icomoon.eot?#iefix-ayumq4') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-ayumq4') format('woff'),
		url('../fonts/icomoon.ttf?-ayumq4') format('truetype'),
		url('../fonts/icomoon.svg?-ayumq4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-up:before {
	content: "\e600";
}
.icon-down:before {
	content: "\e601";
}
