@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-ayumq4');
	src:url('../fonts/icomoon.eot?#iefix-ayumq4') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-ayumq4') format('woff'),
		url('../fonts/icomoon.ttf?-ayumq4') format('truetype'),
		url('../fonts/icomoon.svg?-ayumq4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter-circle:before {
	content: "\e60b";
}
.icon-twitter:before {
	content: "\e60c";
}
.icon-google-circle:before {
	content: "\e60d";
}
.icon-google-plus:before {
	content: "\e60e";
}
.icon-facebook:before {
	content: "\e60f";
}
.icon-facebook-circle:before {
	content: "\e610";
}
.icon-speech20:before {
	content: "\e604";
}
.icon-small66:before {
	content: "\e605";
}
.icon-printer67:before {
	content: "\e607";
}
.icon-close13:before {
	content: "\e608";
}
.icon-twitter-square:before {
	content: "\f081";
}
.icon-facebook-square:before {
	content: "\f082";
}
.icon-google-plus-square:before {
	content: "\f0d4";
}
.icon-ribbon:before {
	content: "\e009";
}
.icon-image:before {
	content: "\e010";
}
.icon-signal:before {
	content: "\e011";
}
.icon-printer:before {
	content: "\e020";
}
.icon-zoom-in:before {
	content: "\e037";
}
.icon-head:before {
	content: "\e074";
}
.icon-check:before {
	content: "\e116";
}
.icon-cross:before {
	content: "\e117";
}
.icon-inbox:before {
	content: "\e122";
}
.icon-open:before {
	content: "\e128";
}
.icon-file-add:before {
	content: "\e600";
}
.icon-arrow-right:before {
	content: "\e601";
}
.icon-paperclip:before {
	content: "\e602";
}
.icon-user:before {
	content: "\e606";
}
.icon-document-alt-fill:before {
	content: "\e603";
}
.icon-left-quote:before {
	content: "\e609";
}
.icon-star:before {
	content: "\e60a";
}
