figure {
	margin: 0;
}

.tint {
	overflow: hidden;
	position: relative;
	cursor: pointer;

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		
		-moz-transition: background .3s linear;
		-webkit-transition: background .3s linear;
		-o-transition: background .3s linear;
		transition: background .3s linear;
	}

	&:hover:before {
		background-color: rgba($alert-color, .8);
	}
}

.caption-overlay {
	overflow: hidden;
	position: relative;

	figcaption {
		@extend %full-overlay;

		line-height: 1.40625rem;

		.row, .text-overflow {
			height: 100%;
			overflow: hidden;
		}

		p {
			// @include ellipsis(50%);
		}

		&.centered {
			background-color: rgba($primary-color, .8);
			padding: 0;
			text-align: center;

			p { 
				color: #fff;	
				position: absolute;
  			top: 50%;
  			transform: translateY(-50%);
  			-webkit-transform: translateY(-50%);
  			width: 100%;
			}	
		}
	}
}

cite {
	@include type-scale(tiny);
	font-style: normal;
}

.video-container {
	position: relative;
  padding-bottom: 54%;
  height: 0;
  overflow: hidden; 

  	video {
  		width: 100%;
  	}

	  iframe {
	    position: absolute;
	    top:0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
}

.play-overlay {
	@extend %full-overlay;
}