.pager {
	@include type-scale(medium);
	@include margin-leader(3);
	@include margin-trailer(2);
	color: #333;
  display: inline-block;
  font-family: $sans-font-family-semibold;
	font-weight: normal;

  &:hover {
    color: $primary-color;

    .pager-down {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
    }
  }

  @media #{$medium-up} {
    @include type-scale(large);
    @include margin-leader(5);
    @include margin-trailer(4);
  }
}

.pager-down {
	font-size: 1rem;
  padding-top: .25rem;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;

  @media #{$medium-up} {
    font-size: 2rem;
    padding-top: .625rem;
  }  
}
