.pager {
	@include type-scale(medium);
	@include margin-leader(3);
	@include margin-trailer(2);
	color: #333;
  display: inline-block;
  font-family: $sans-font-family-semibold;
	font-weight: normal;

  &:hover {
    color: $primary-color;
  }

  @media #{$medium-up} {
    @include margin-leader(4.5);
    @include margin-trailer(3.5);
  }
}

.pager-down {
	font-size: 2rem;
}
