.pager {
	@include type-scale(medium);
	@include margin-leader(2.5);
	@include margin-trailer(3);
	color: #333;
  display: inline-block;
  font-family: $sans-font-family-semibold;
	font-weight: normal;

  &:hover {
    color: $primary-color;
  }
}

.pager-down {
	@include type-scale(xlarge);
}
