/* Overlay style */
.overlay {
	background: rgba(4, 87, 167,0.9);
	color: #fff;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;

	.overlay-close {
		background: transparent;
		border: none;
		color: darken($primary-color, 10%);
		cursor: pointer;
		display: block;
		font-size: 18px;
		height: 20px;
		line-height: 20px;
		outline: none;
		overflow: hidden;
		padding: 0;
		position: fixed;
		right: 20px;
		text-align: center;
		top: 20px;
		width: 20px;
		z-index: 9000;

		@media #{$medium-up} {
			font-size: 32px;
			height: 40px;
			line-height: 40px;
			width: 40px;
			right: 40px;
			top: 40px;
		}	
	}

	.tall {
		height: 100%;
	} 

	.nav-overlay {
		height: 100%;
		position: relative;

		.statement {
			padding: 0 .75rem;
			
			@media #{$medium-up} {
				padding: 0;
			}

			p {
				@include type-scale(small);
				letter-spacing: .04em;

				@media #{$large-up} {
					@include type-scale(base);
					@include margin-leader(2);
				}
			}
		}

		.nav-main {
			height: 8.5rem;
			position: absolute;
			bottom: 5%;
			padding: 0 .75rem;

			@media #{$medium-up} {
				padding: 0;
			}

			@media #{$large-up} {
				height: 8rem;
			}	

			li {
				padding: .25rem 0;

				a {
					@include type-scale(small);
					color: #fff;
					display: block;
					letter-spacing: .04em;
					-webkit-transition: color 0.2s;
					transition: color 0.2s;
					
					@media #{$medium-up} {
						@include type-scale(base);
					}
				}
			}		
		}

		.nav-projects {
			height: 100%;
			
			@media #{$medium-up} {
				padding: 0;
			}

			li {
				display: block;

				a {
					color: #fff;
					display: block;
					padding: .325rem .75rem;
					-webkit-transition: color 0.2s;
					transition: color 0.2s;

					@media #{$medium-up} {
						@include type-scale(medium);
					}

					@media #{$large-up} {
						@include type-scale(xxlarge);
						padding: .5rem .825rem;
					}	
				}
			}		
		}
	}	

	.scroll-arrows {
		bottom: 5%;
		display: none;
		left: -.5em;
		position: absolute;
		z-index: 1000;
		
		@media #{$large-up} {
			bottom: 5%;
		}

		@media screen and (min-width: 64em) and (min-height: 46em) {
		 	display: block;
		}

		.arrow {
			color: #fff;
			font-size: 32px;
			padding: .5em;
		}
	}

	.nav-share {
		height: 60%;
		position: relative;
		text-align: center;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	
		ul {
			display: inline-block;
			height: 100%;
			margin: 0 auto;
			padding: 0;
			position: relative;
		
			li {
				display: block;

				a {
					color: #fff;
					display: block;
					padding: .325rem .5rem;
					-webkit-transition: color 0.2s;
					transition: color 0.2s;
			
					@media #{$medium-up} {
						@include type-scale(medium);
					}

					@media #{$large-up} {
						@include type-scale(xlarge);
						padding: .5rem .5rem;
					}	
				}	
			}	
		}
	}	
}	

#trigger-overlay {
	cursor: pointer;
	width: 40%;
}

/* Effects */
.overlay-navigation, .overlay-share {
	opacity: 0;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
	visibility: hidden;
	
	.nav-secondary {
		-webkit-perspective: 1200px;
		perspective: 1200px;
		
		/* Masking effect: currently causing a double scroll event */
		@media #{$medium-up} {
			position: relative;
		}

		ul {
			opacity: 0.4;
			-webkit-transform: translateY(-25%) rotateX(35deg);
			transform: translateY(-25%) rotateX(35deg);
			-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
			transition: transform 0.5s, opacity 0.5s;
		}
	}

	.nav-projects-mask {
		height: 60%;
		width: 100%;

		@media #{$medium-up} {
			top: 10%;
			height: 80%;
			overflow-y: scroll;
			position: absolute;
			right: 0;
		}

		@media #{$large-up} {
			top: 12.5%;
			height: 80%;
		}

		@media screen and (min-width: 64em) and (min-height: 46em) {
			height: 72%;
		}

		@media screen and (min-width: 64em) and (min-height: 50em) {
			height: 75%;
		}
	}

	&.open {
		opacity: 1;
		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
		visibility: visible;
		
		.nav-secondary ul {
			opacity: 1;
			-webkit-transform: rotateX(0deg);
			transform: rotateX(0deg);
		}
	}

	&.close .nav-secondary ul {
		-webkit-transform: translateY(25%) rotateX(-35deg);
		transform: translateY(25%) rotateX(-35deg);
	}
}

.open {
	.content {
		position: fixed;
	}

	.footer {
		display: none;
	}

	.pagination {
		display: none;
	}
}
