/* Overlay style */
body.stop-scrolling {
	height: 100%;
	overflow: hidden;
}
.cover {
	.loader_image {
		-webkit-transition: opacity 600ms ease-out;
		transition: opacity 600ms ease-out;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		display: block;
		background-size: cover;
		background-position: center;
	}
}
.overlay {
	@include fixed(top right bottom left);
	background: rgba(4, 87, 167,0.9);
	color: #fff;
	z-index: 1001;

	.overlay-close {
		@include fixed(top 1em right 1em);
		background: transparent;
		border: none;
		color: darken($primary-color, 10%);
		cursor: pointer;
		display: block;
		font-size: 18px;
		line-height: 20px;
		outline: none;
		overflow: hidden;
		padding: 0;
		text-align: center;
		width: 20px;
		z-index: 9000;

		&:hover {
			color: darken($primary-color, 15%);
		}

		@media #{$medium-up} {
			font-size: 32px;
			height: 40px;
			line-height: 40px;
			width: 40px;
			right: 40px;
			top: 40px;
		}	
	}

	.tall {
		height: 100%;
	} 

	.nav-overlay {
		height: 100%;
		position: relative;
		
		
		.statement, .statement-mobile {
			padding: 0 .75rem;
			
			@media #{$medium-up} {
				padding: 0;
			}


			p {
				@include type-scale(small);
				letter-spacing: .04em;

				@media #{$large-up} {
					@include type-scale(base);
					@include margin-leader(2);
				}
			}
		}
		.statement {
			@media screen and (max-height: 25em) {
				display: none;
			}
		}
		.statement-mobile {
			display: none;
			@media screen and (max-height: 25em) {
				display: block;
			}
		}


		.nav-main {
			@include absolute(bottom 5%);
			height: 8.5rem;
			padding: 0 .75rem;

			@media screen and (max-height: 25em) {
					@include absolute(bottom 1%);
					height: 6.5rem;
			}		

			@media #{$medium-up} {
				padding: 0;
			}

			@media #{$large-up} {
				height: 8rem;
			}	

			li {
				padding: .25rem 0;
				
				@media screen and (max-height: 25em) {
					padding: .125rem 0;
				}	

				a {
					@include type-scale(small);
					color: #fff;
					display: block;
					letter-spacing: .04em;
					
					@media #{$medium-up} {
						@include type-scale(base);
					}

					&:hover {
						color: rgba(#fff, .5);
					}
				}
			}		
		}

		.nav-projects {
			height: 100%;
			margin-right: 20px;

			@media #{$medium-up} {
				padding: 0;
			}

			li {
				float: left;
       	clear: left;
       	background-color: transparent;
				-webkit-transition: background-color 0.5s;
				transition: background-color 0.5s;

				&:hover {
					background-color: $primary-color;
				}

				a {
					color: #fff;
					display: inline-block !important;
					white-space: nowrap;
					padding: .325rem .75rem;
					
					&:hover {
						color: #fff;
					}

					@media #{$medium-up} {
						@include type-scale(medium);
					}

					@media #{$large-up} {
						@include type-scale(xxlarge);
						padding: .5rem .825rem;
					}
				}
			}		
		}
	}	

	.scroll-arrows {
		@include absolute(bottom 5%);
		display: none;
		left: .5em;
		z-index: 1000;
		
		@media #{$large-up} {
			bottom: 5%;
		}

		@media screen and (min-width: 64em) and (min-height: 46em) {
		 	display: block;
		}

		.arrow {
			color: #fff;
			font-size: 32px;
			padding: .5em;

			&:hover {
				color: rgba(#fff, .7);
			}

			&.disabled {
				color: rgba(#fff, .15);
			}
		}
	}

	.nav-share {
		// @include absolute(top 50%);
		height: 100%;
		width: 100%;
		text-align: center;
		// -webkit-transform: translateY(-50%);
		// transform: translateY(-50%);
	
		ul {
			@extend %vertical-align;
		
			li {
				display: block;

				a {
					@include type-scale(mediumlarger);
					color: #fff;
					display: inline-block;
					padding: .325rem .5rem;
					-webkit-transition: color 0.3s ease-in-out;
					transition: color 0.3s ease-in-out;

					&:hover {
						color: rgba(#fff, .5);
					}

					@media #{$large-up} {
						@include type-scale(xxlarge);
						padding: .5rem .5rem;
					}	
				}	
			}	
		}
	}	
}	

#trigger-overlay {
	cursor: pointer;
	width: 40%;
}

/* Effects */
.overlay-navigation, .overlay-share {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out, visibility 0s 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out, visibility 0s 0.3s ease-in-out;
	visibility: hidden;
	
	.nav-secondary {
		// -webkit-perspective: 1200px;
		// perspective: 1200px;
		overflow: hidden;
		
		/* Masking effect: currently causing a double scroll event */
		@media #{$medium-up} {
			position: relative;
		}

		ul {
			opacity: 0;
			-webkit-transition: opacity 0.3s 0 ease-in-out;
			transition: opacity 0.3s 0 ease-in-out;

			// -webkit-transform: translateY(-25%) rotateX(35deg);
			// transform: translateY(-25%) rotateX(35deg);
			// -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
			// transition: transform 0.5s, opacity 0.5s;

			li a {
				-webkit-transition: color 0.3s ease-in-out;
				transition: color 0.3s ease-in-out;
			}
		}
	}

	.nav-projects-mask {
		height: 60%;
		width: 100%;

		@media #{$medium-up} {
			@include absolute(top 10% right -1rem);
			height: 80%;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
		}

		@media #{$large-up} {
			top: 10%;
			height: 80%;
		}

		@media screen and (min-width: 64em) and (min-height: 46em) {
			height: 72%;
		}

		@media screen and (min-width: 64em) and (min-height: 50em) {
			height: 75%;
		}
	}

	&.open {
		opacity: 1;
		-webkit-transition: opacity 0.3s ease-in-out;
		transition: opacity 0.3s ease-in-out;
		visibility: visible;
		
		.nav-secondary ul {
			opacity: 1;
			-webkit-transition-delay: 0.3s ease-in-out;
			transition-delay: 0.3s ease-in-out;
		}
	}

	&.close .nav-secondary ul {
		-webkit-transition-delay: 0s ease-in-out;
		transition-delay: 0s ease-in-out;
	}
}

.open {
	.content {
		position: fixed;
	}

	.footer {
		display: none;
	}

	.pagination {
		display: none;
	}
}
