/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(4, 87, 167,0.9);
	z-index: 999;
	color: #fff;

	.overlay-close {
		width: 80px;
		height: 80px;
		position: absolute;
		right: 20px;
		top: 20px;
		overflow: hidden;
		border: none;
		background: transparent;
		outline: none;
		z-index: 100;
		color: darken($primary-color, 10%);
		text-align: center;
		padding: 0;
		font-size: 32px;
	}

	.tall {
		height: 100%;
	} 

	.nav-overlay {
		position: relative;
		height: 100%;

		.statement {
			margin-top: 9em;
		}

		.nav-projects {
			height: 100%;

			li {
				display: block;
				height: calc(100% / 12);
				min-height: 54px;

				a {
					display: block;
					color: #fff;
					-webkit-transition: color 0.2s;
					transition: color 0.2s;
				}
			}		
		}

		.nav-main {
			height: 20%;
			position: absolute;
			bottom: 0;

			li {

				a {
					display: block;
					color: #fff;
					-webkit-transition: color 0.2s;
					transition: color 0.2s;
				}
			}		
		}

	}	

	.nav-share {
		text-align: center;
		position: relative;
		top: 50%;
		height: 60%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	
		ul {
			list-style: none;
			padding: 0;
			margin: 0 auto;
			display: inline-block;
			height: 100%;
			position: relative;
		
			li {
				display: block;
				height: 20%;
				height: calc(100% / 5);
				min-height: 54px;
			
				a {
					@include type-scale(xxlarge);
					display: block;
					color: #fff;
					-webkit-transition: color 0.2s;
					transition: color 0.2s;
			
					&:hover,
					&:focus {
						color: #e3fcb1;
					}
				}	
			}	
		}
	}	
}	


/* Effects */
.overlay-navigation {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
	
	.nav-secondary {
		-webkit-perspective: 1200px;
		perspective: 1200px;
		
		/* Masking effect: currently causing a double scroll event */
		@media #{$large-up} {
			position: fixed;
			right: 0;
			overflow-y: scroll;
			height: 80%;
			margin-top: 6em;
		}

		ul {
			opacity: 0.4;
			-webkit-transform: translateY(-25%) rotateX(35deg);
			transform: translateY(-25%) rotateX(35deg);
			-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
			transition: transform 0.5s, opacity 0.5s;
		}
	}	

	&.open {
		opacity: 1;
		visibility: visible;
		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
	
		.nav-secondary ul {
			opacity: 1;
			-webkit-transform: rotateX(0deg);
			transform: rotateX(0deg);
		}

	}


	&.close .nav-secondary ul {
		-webkit-transform: translateY(25%) rotateX(-35deg);
		transform: translateY(25%) rotateX(-35deg);
	}
}

@media screen and (max-height: 30.5em) {
	.overlay .nav-secondary {
		height: 70%;
	}

	.overlay ul li {
		min-height: 34px;
	}
}

.open {
	.content {
		position: fixed;
	}

	.footer {
		display: none;
	}

	.pagination {
		display: none;
	}
}

.active {
	.logo {
		position: fixed;
	}
}